<script setup lang="ts">
import {ref} from "vue";
const text = ref("Edit Me");
const checkbox = ref(true);
const checkedName = ref(["Jack"]);
const picked = ref("Two");
const selected = ref("A");
const mutiSelected = ref("1");
</script>

<template>
    <h2>Text Input</h2>
    <input v-model="text" >{{text}}

    <h2>Checkbox</h2>
    <input type="checkbox" v-model="checkbox"> 
    <label for="checkbox">Checkbox: {{checkbox}}</label>

    <h2>Mutipule Checkbox</h2>
    <input type="checkbox" v-model="checkedName" id="jack" value="Jack">
    <label for="jack">Jack</label>
    <input type="checkbox" v-model="checkedName" id="john" value="John">
    <label for="john">John</label>
    <input type="checkbox" v-model="checkedName" id="mike" value="Mike">
    <label for="mike">Mike</label>
    <p>Checked names</p>
    <pre> {{checkedName}}</pre>

    <h2>Radio</h2>
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label><br />
    <span>Picked: {{picked}}</span>

    <h2>Select</h2>
    <select v-model="selected">
        <option disabled value="">Please selest one</option>
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
    </select>
    <span>Selected: {{selected}}</span>

    <h2>Mutipule Select</h2>
    <select v-model="mutiSelected" multiple style="width: 100px;">
        <option disabled value="">Please selest one</option>
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
    </select>
    <span>Selected: {{mutiSelected}}</span>
</template>